absl-py==1.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
backcall==0.2.0
bleach==4.1.0
cffi==1.15.0
colorama==0.4.4
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
entrypoints==0.3
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.0.3
jsonschema==4.3.3
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.8.0rc0
lvis==0.5.3
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mistune==0.8.4
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.6
object-detection==0.1
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
prometheus-client==0.12.0
prompt-toolkit==3.0.24
pycparser==2.21
Pygments==2.11.1
pyparsing==3.0.6
pyrsistent==0.18.0
python-dateutil==2.8.2
pywin32==303
pywinpty==1.1.6
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.0
scipy==1.8.0rc2
Send2Trash==1.8.0
six==1.16.0
-e git+https://github.com/tensorflow/models@658c803879cb13db78b2339f044841b1cf47d322#egg=slim&subdirectory=research\slim
tensorflow-io==0.23.1
terminado==0.12.1
testpath==0.5.0
tf-models-official==2.7.0
tf-slim==1.1.0
tornado==6.1
traitlets==5.1.1
wcwidth==0.2.5
webencodings==0.5.1
wget==3.2
widgetsnbextension==3.5.2
